body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f6fa;
  color: #333;
}

header {
  background-color: #005f99;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Add styles for section */
section.about {
  background-color: #e1f5fe; /* change to your preferred color */
  color: #333;               /* change to your preferred font color */
  font-size: 1.25em;
  padding: 20px;
}
